input_folder: raw/cctv_frames
output_folder: interim/cctv_frames_v1

byol_filename: byol/cctv_byol.pt

embed_filename: raw/cctv_frames/embeddings/cctv_embeddings.parquet

byol_traininig:
  img_size: 256
  batch_size: 16

sampling:
  test:
    - str_match: ["F053_LAG_H35"]
      samples: 100
  train:
    - str_match: ["domo"]
      samples: 15
    - str_match: null
      samples: 150